<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet"  href="/css/style.css">
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>indexHbs</title>
</head>
<body>
    <P>use this site to fetch the weather</P>
    <h1>{{>header}}</h1>
    <form>
        <input placeholder="enter address to frtch weather">
        <button>search</button>
    </form>

    <p id="m1"></p>
    <p  id="m2"></p>
     {{>footer}}
     <script src="/js/app.js"></script>
</body>
</html>

